@import "tailwindcss";
@plugin "daisyui";
@import "./pageHeader.css";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
}

:root {
  --primary: oklch(0 0.1 265);
  --secondary: oklch(0.627 0.265 303.9);
  --border: oklch(92.9% 0.013 255.508);
}

@font-face {
  font-family: "YekanBakh";
  src:
    url("../fonts/YekanBakh-VF.woff") format("woff-variations"),
    url("../fonts/YekanBakh-VF.woff") format("woff");
  font-weight: 100 1000;
  font-display: fallback;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "YekanBakh", tahoma;
    font-weight: 500;
    font-size: 16px;
  }
}

body.loaded #page-loader {
  opacity: 0;
  pointer-events: none;
}

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

/* Daisy Overrides */
@layer utilities {
  .container {
    @apply mx-auto max-w-5xl px-3.5 md:px-0;
  }

  .btn {
    @apply bg-primary h-[38px] gap-2 rounded-lg border px-3 text-[13px] font-medium shadow-none ring-neutral-200 hover:ring-4 has-[i]:pr-2 [&_i]:text-lg;
  }

  .btn-sm {
    @apply h-8;
  }

  .btn-primary {
    @apply border-primary;
  }

  .btn-outline {
    @apply border-neutral-200 bg-transparent text-neutral-400 hover:border-neutral-400 hover:text-neutral-700 hover:ring-3;
  }
}

@layer components {
  .pd-tab-content ul li {
    @apply mr-5 list-disc;
  }

  .tooltip {
    @apply text-sm;
  }

  .main-padding {
    @apply pt-6 pb-14 md:pt-8 md:pb-28;
  }

  ._contact-details ._item {
    @apply flex flex-1/4 flex-grow-0 items-center gap-2;
  }

  ._contact-details ._item a {
    @apply flex w-full items-center gap-4 rounded-xl border-2 border-blue-200 bg-blue-50 p-4 font-black text-blue-900 duration-300 hover:border-blue-200 hover:bg-blue-50 hover:text-blue-900 md:border-neutral-100 md:bg-neutral-50/50 md:text-neutral-400;
  }

  ._contact-details ._item a i {
    @apply rounded-full bg-blue-100 p-3 text-4xl text-blue-900 duration-300 group-hover:bg-blue-100 group-hover:text-blue-900 md:bg-neutral-100 md:text-neutral-400;
  }

  ._contact-details ._item a ._title {
    @apply text-xl;
  }

  .alert {
    @apply rounded-xl;
  }

  .alert.alert-soft {
    @apply text-green-600;
  }

  .collapse-title {
    @apply flex w-full items-center justify-between !pe-0 !pr-0 !pl-5;
  }

  .collapse-title::after {
    display: none !important;
  }
}

/* Simple Page Template CSS  */
._page-content h2 {
  @apply mt-8 mb-2 text-xl font-bold text-blue-900 md:mt-10;
}

._page-content p {
  @apply mb-3 leading-relaxed;
}

._page-content ul {
  @apply mb-6 list-disc px-6 md:px-8;
}

._page-content ul li {
  @apply mb-2;
}

/* Home Page Override CSS  */
._slider ._item-info .collapse-title {
  @apply min-h-0 cursor-pointer px-0 py-1.5 text-lg leading-relaxed font-medium text-neutral-400 xl:py-2;
}

._slider ._item-info .collapse-title i {
  @apply text-neutral-300;
}

._slider ._item-info.active .collapse-title {
  @apply font-black text-blue-900;
}

._slider ._item-info.active .collapse-title i {
  @apply text-yellow-500;
}

/* ._slider ._item-info.collapse {
  >input:is([type="checkbox"], [type="radio"]) {
    grid-column-start: 1;
    grid-row-start: 1;
    appearance: none;
    opacity: 0;
    z-index: 1;
    width: 100%;
    padding: 0;
    padding-inline-end: 0;
    min-height: fit-content;
    transition: background-color 0.2s ease-out;
  }
} */

._slider ._item-info.active .collapse-content {
  @apply relative my-3 w-full rounded border border-b-2 border-blue-200 bg-blue-50 px-4 pt-3 pb-4 leading-relaxed font-semibold text-blue-600 md:w-fit;
}

._slider ._item-info.active .collapse-content:after {
  content: "";
  position: absolute;
  top: -8px;
  right: calc(50% - 1rem);
  width: 1rem;
  height: 1rem;
  background-color: var(--color-blue-50);
  border-top: 2px solid var(--color-blue-200);
  border-left: 1px solid var(--color-blue-200);
  rotate: 45deg;
}

@media (min-width: 1280px) {
  ._slider ._item-info.active .collapse-content:after {
    right: 2.5rem;
  }
}

/* How it works */
._sec-how-it-works ._item {
  @apply relative flex flex-col items-center gap-4 rounded-2xl border border-neutral-200/50 bg-white/70 p-8 shadow-md shadow-blue-100/50 before:absolute before:top-0 before:left-1/2 before:h-1 before:w-28 before:-translate-x-1/2 before:rounded-full before:bg-purple-700/70 before:content-[''] md:p-10;
}

._sec-how-it-works ._item i {
  @apply text-6xl text-purple-700/70;
}

._sec-how-it-works ._item h3 {
  @apply text-center text-xl font-extrabold text-blue-900;
}

._sec-how-it-works ._item p {
  @apply text-center leading-relaxed text-neutral-600 md:text-right;
}
