/* Page Header */
.page-header-wrapper {
  -webkit-mask-image: url("../images/bg-mask.svg");
  mask-image: url("../images/bg-mask.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: bottom;
  @apply relative mb-6 rounded-t-3xl bg-red-50 bg-gradient-to-b from-blue-900 to-blue-300 px-10 pt-12 pb-24 md:mb-14;
}

.page-header-wrapper .header-content {
  @apply flex min-h-80 flex-col items-center justify-center gap-3 md:min-h-72 md:gap-4;
}

.page-header-wrapper .header-content:after {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 100%;
  display: block;
  background: url("../images/bg-texture-03.svg") left no-repeat;
  opacity: 0.2;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.page-header-wrapper .header-content h1 {
  @apply text-center text-[40px] font-black text-white;
}

.page-header-wrapper .header-content .page-description {
  @apply text-center text-2xl font-medium text-gray-100;
}

.header-bottom-mask {
  background-image: url("../images/bg-bottom-mask.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @apply absolute bottom-0 left-1/2 flex h-[56px] w-[162px] -translate-x-1/2 items-center justify-center bg-center bg-no-repeat pt-5;
}

.header-bottom-mask i {
  @apply inline-block rotate-180 transform text-4xl text-gray-400 duration-300 hover:animate-pulse hover:text-blue-800;
}
