/* Page Header */
.page-header-wrapper {
    -webkit-mask-image: url('../images/bg-mask.svg');
    mask-image: url('../images/bg-mask.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: bottom;
    @apply bg-gradient-to-b from-blue-900 to-blue-300 pt-12 px-10 pb-24 mb-6 md:mb-14 rounded-t-3xl relative bg-red-50;
}

.page-header-wrapper .header-content {
    @apply flex flex-col justify-center items-center gap-3 md:gap-4 min-h-80 md:min-h-72;
}

.page-header-wrapper .header-content:after {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 100%;
    display: block;
    background: url('../images/bg-texture-03.svg') left no-repeat;
    opacity: 0.2;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.page-header-wrapper .header-content h1 {
    @apply text-[40px] font-black text-center text-white;
}

.page-header-wrapper .header-content .page-description {
    @apply text-center text-2xl font-medium text-gray-100;
}

.header-bottom-mask {
    background-image: url('../images/bg-bottom-mask.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply w-[162px] h-[56px] bg-no-repeat bg-center absolute bottom-0 left-1/2 -translate-x-1/2 flex items-center justify-center pt-5;
}

.header-bottom-mask i {
    @apply text-4xl text-gray-400 hover:text-blue-800 hover:animate-pulse duration-300 transform inline-block rotate-180;
}